# Enables you to use 'doota' CLI directly and it will re-compile it from source before running
# as well as other easy helper scripts like 'gh_trigger_ci'.
PATH_add `pwd`/devel

## You will need a Google account with `glcloud auth login` and `gcloud auth application-default login` configured
export DOOTA_GLOBAL_JWT_KMS_KEYPATH="projects/doota/locations/global/keyRings/api-auth/cryptoKeys/jwt-signing-dev/cryptoKeyVersions/1"

# LangChain
export LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
export LANGCHAIN_PROJECT=DOOTAtream-dev
export LANGCHAIN_API_KEY="<langchain-dev-api-key>"

# PostgreSQL
export LOCAL_PG_DSN="postgresql://dev-node:insecure-change-me-in-prod@localhost:5432/dev-node?enable_incremental_sort=off&sslmode=disable"
export TEST_PGDSN="postgresql://dev-node:insecure-change-me-in-prod@localhost:5432/dev-test?enable_incremental_sort=off&sslmode=disable"
export PG_DSN=$LOCAL_PG_DSN
export DOOTA_GLOBAL_PG_DSN="$PG_DSN"

# OpenAI
export OPENAI_API_KEY_DEV="<openai-dev-api-key>"
export OPENAI_ORG="org-J3D3FjZr8vPXO8oG0SP5VOvZ"
export LANGSMITH_API_KEY_DEV="<langchain-dev-key>"
export LANGSMITH_PROJECT="doota-dev"
export TEST_OPENAI_API_KEY="$OPENAI_API_KEY_DEV"
export TEST_LANGSMITH_API_KEY="$LANGSMITH_API_KEY_DEV"
export TEST_OPENAI_ORGANIZATION="$OPENAI_ORG"
export DOOTA_START_COMMON_OPENAI_API_KEY="$OPENAI_API_KEY_DEV"
export DOOTA_START_COMMON_OPENAI_ORGANIZATION="$OPENAI_ORG"
export DOOTA_START_COMMON_LANGSMITH_API_KEY="$LANGSMITH_API_KEY_DEV"
export DOOTA_START_COMMON_LANGSMITH_PROJECT="$LANGSMITH_PROJECT"
export DOOTA_DOC_TEST_OPENAI_API_KEY="$OPENAI_API_KEY_DEV"
export DOOTA_DOC_TEST_OPENAI_ORGANIZATION="$OPENAI_ORG"
export DOOTA_DOC_TEST_LANGSMITH_API_KEY="$LANGSMITH_API_KEY_DEV"
export DOOTA_DOC_TEST_LANGSMITH_PROJECT="$LANGSMITH_PROJECT"


# Test
export TEST_REDDIT_TOKEN=""

# Frontend Next.JS Configuration
export NEXT_PUBLIC_API_URL=http://localhost:8787
export NEXT_PUBLIC_APP_URL="http://localhost:3000"