.envrc
.idea/
.turbo/
.vscode/
.DS_Store
devel/data/
devel/perso/
devel/testdata/
pybackend/data
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
data/debugstore

frontend/extension/chrome/loadlogic-chrome-extension.zip
frontend/extension/chrome/loadlogic-chrome-extension.*.zip