Input Provided:

Topic:
{{ .Topic }}

Context:
{{ .Context }}

Goal:
{{ .Goal }}

Tone:
{{ .Tone }}

Post Generation Requirements:
{{ range .Rules -}}
- {{ . }}
{{ end }}

Flairs to tag a post:
{{ range .Flairs -}}
- {{ . }}
{{ end }}
