Product Information
ProductName: {{ .ProductName }}
ProductDescription: {{ .ProductDescription }}

Target Customer Persona:
TargetCustomerPersona: {{ .TargetCustomerPersona }}

Post Details:
Title: {{ .Title }}
Source: Reddit
Description: {{ .Description }}

Comments Thread:
{{ range $index, $element := .Comments }}
- {{ $element }}
{{ end }}