Comment generating gotchas:
Words for Comments : {{ .WordsForComment }}

If Product Mention allowed, use this phrase(only once) to mention the product:
Phrase for Comment : {{ .PhraseForComment }}

Reddit Post:
Title: {{ .Title }}
Description: {{ .Description }}
Author: {{ .Author }}