ProductMentionAllowed : {{ .ProductMentionAllowed }}

Words for Comments : {{ .WordsForComment }}
Phrase for Comment : {{ .PhraseForComment }}

Here is the Product Information
ProductName: {{ .ProductName }}
ProductDescription: {{ .ProductDescription }}

Product And Customer Target Persona:
TargetCustomerPersona: {{ .TargetCustomerPersona }}

Reddit Post:
Title: {{ .Title }}
Description: {{ .Description }}
Author: {{ .Author }}