email from: {{ .EmailFrom }}
email to: {{ .EmailTo }} 
email received at: {{ .EmailReceivedAt}}
email subject: {{ .EmailSubject }}
email body: {{ .EmailBody }}

{{ range $index, $element := .Attachments }}
Attachment {{ $index }} Type: {{ $element.MimeType }}
Attachment {{ $index }} Name: {{ $element.Name }}
Attachment {{ $index }} Content: {{ $element.Content }}
{{ end }}