Here is the client's information you are calling:
- First name: {{.firstName}}
- Last name: {{.lastName}}
- Phone number: {{.phoneNumber}}
- Due Date: {{.dueDate}}
- Past Conversations:
{{ range $index, $element := .Conversations }}
Conversation {{ $index }} Date: {{ $element.CreatedAt }}
Conversation {{ $index }} Summary: {{ $element.Summary }}
{{ end }}
